* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #303030;
    
}

/* Container do cabeçalho*/

.hamburger {
    display: none;
}

li a {
    text-decoration: none;
}

.header {

    background-color: #fafaf7;
    height: 120px;

}

    .busca {
        color: black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #14342b;
        height: 60%;

    }

        form {
            border: 1.5px solid white;
            border-radius: 5px;
            padding: 5px;
            margin-right: 40px;
        
        }
        
            form input, form button {
                font-size: 18px;
                border-radius: 4px;
                border: none;
                padding: 4px;
            }
        
            form button {
                cursor: pointer;
                background: none;
                color: white;
            }
        
            form button:hover {
                background-color: whitesmoke;
                color: #14342b;
            }

            i {
                color: white;
            }

            i:hover {
                color: #14342b;
            }

    .logospace {

        display: flex;
        align-items: center;
        width: 20%;
        height: 100%;
        margin-left: 40px;

    }

    #logotipo {
        height: 100%;
        object-fit: cover;
    }

    .logospace h1 {
        color: white;
    }


.menu {
    display: flex;
    align-items: center;
    background-color: #fafaf7;
    height: 40%;
    justify-content: space-between;

}

    .nav-list {
        display: flex;
        margin-left: 40px;
        list-style: none;
        gap: 32px;
    }

    .right-nav {
        margin: 40px;

    }

    li a {
        color: #303030;
    }

    #button-login {
        font-weight: bold;
        padding: 12px 38px;
        border-radius: 3px;
        box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
        line-height: 1.25;
        background: #fde311;
        text-decoration: none;
        color: #303030;
        font-size: 14px;
        letter-spacing: .08em;
        text-transform: uppercase;
        position: relative;
        overflow: hidden;

      }

      #button-register {
        border-radius: 3px;
        margin-right: 10px;
        padding: 8px 20px;
        border: 1px solid #303030;
        color: #303030;
        text-decoration: none;
      }
      


/* */

/* Container do banner e subtítulo*/

.subheader {
    height: 300px;
    background-color: #fafaf7;

}

    .banner {
        height: 80%;
        display: flex;
        align-items: center;
        background-color: #e0ebcf;
    }

        .banner .text {
            padding: 20px;
            margin-left: 30px;
            color:#303030;

        }

    .titlebanner {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

        .nav-sublist {
            display: flex;
            margin-top: 20px;
            margin-left: 40px;
            list-style: none;
            gap: 12px;
            background-color: #fafaf7;
        }

        
/* Container da imagem + texto*/

.containertxt_img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fafaf7;
    height: 500px;

}
    .subcontainer{
        display: flex;
        align-items: center;
        width: 90%;
        height: 500px;

    }

        .containertxt_img .containertxt {
            display: flex;
            flex-direction: column;
            background-color: white;
            height: 90%;
            width: 50%;
        }

        .containertxt .text {
            margin: 40px;
            line-height: 20px;

        }

        .containertxt .text h2 {
            margin-bottom: 15px;
        }

        .containertxt_img .containerimg {
            display: flex;

            height: 90%;
            width: 50%;
            
        }

    .containerimg .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-right-radius: 5%;
        border-bottom-right-radius: 5%;

        }

/* Container da equipe*/
#team {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #faf9f6;
    height: 600px;
    justify-content: space-around;

}

    #teamtitle {

        background-color: violet;
        height: 20%;
        width: 100%;
    }

        #team h1 {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            background-color: #faf9f6;

        }

    .containerteam {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: 70%;

    }

        .photocircle {
            background-color: white;
            border: 4px white solid;
            height: 300px;
            width: 300px;
            border-radius: 100%;
        }

        .photocircle .image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;

        }

        .descricaophoto {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            flex-direction: column;
            padding: 20px;
        }

/* 
==============
RESPONSIVIDADE
==============
*/


.margin-nav {
    display: none;
}

/* Cabeçalho */
@media (max-width: 790px) {

    .margin-nav {
        display: block;
    }

    .nav {
        display: flex;
        flex-direction: row;
    }
    
    .margin-nav {
        width: 50px;
    }

    .hamburger {
        display: block;
        z-index: 1;
        background: none;
        border: none;
        border-top: 3px solid #14342b;
        cursor: pointer;


        

    }
    .hamburger::before,
    .hamburger::after {
        content: "   ";
        display: block;
        width: 30px;
        height: 3px;
        background: #14342b;
        margin-top: 5px;
        border-radius: 5px;
    }

    .nav-list {

        position: fixed;
        top: 0;
        left:0;
        width: 100vw;
        height: 100vh;

        background-color: #14342b;
        clip-path: circle(100px at 10% -100%);
        transition: 0.6s ease-out;
        transition: 0.6s ease-in;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        pointer-events: none;
    }

    .nav-list a {
        color: white;
        font-size: 24px;
        opacity: 0;
        
    }

    .nav-list li:nth-child(1) a {
        transition: 0.5s 0.2s;
    }

    .nav-list li:nth-child(2) a {
        transition: 0.5s 0.4s;
    }

    .nav-list li:nth-child(3) a {
        transition: 0.5s 0.6s;
    }

    .nav-list li:nth-child(4) a {
        transition: 0.5s 0.8s;
    }


    /* ESTILOS ACTIVES */

    .nav.active .nav-list {
        clip-path: circle(1500px at 10% 2%);
        pointer-events: all;

    }

    
    .nav.active a {
        opacity: 1;

    }
}

@media (max-width: 570px) {

    #ferramenta-busca {
        display: none;
    }
}

@media (max-width: 450px) {

    #button-login {
        display: none;
    }
}


/* Corpo do site */



@media (min-width: 500px) and (max-width: 990px) {
    .containertxt_img {
        display: flex;
        flex-direction: column;
        height: 1200px;

    }

    .containertxt_img .containertxt {
        width: 100%;
    }

    .containertxt_img .containerimg {
        width: 100%;
    }



        .subcontainer {
            display: flex;
            flex-direction: column;
            height: 1200px;
        }

}

@media (max-width: 500px) {
    .subheader {
        height: 400px;
    }




    .containertxt_img {
        display: flex;
        flex-direction: column;
        height: 2000px;

    }

    .containertxt_img .containertxt {
        width: 100%;
    }

    .containertxt_img .containerimg {
        width: 100%;
    }



        .subcontainer {
            display: flex;
            flex-direction: column;
            height: 2000px;
        }

    #ferramenta-busca {
        display: none;
    }

}



