* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


#titulo_pag{
    font-size: 60px;
}

/* Container do cabeçalho*/

li a {
    text-decoration: none;
}

.header {

    background-color: #fafaf7;
    height: 120px;

}

    .busca {
        color: black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #14342b;
        height: 60%;

    }

        form {
            border: 1.5px solid white;
            border-radius: 5px;
            padding: 5px;
            margin-right: 40px;
        
        }
        
            form input, form button {
                font-size: 18px;
                border-radius: 4px;
                border: none;
                padding: 4px;
            }
        
            form button {
                cursor: pointer;
                background: none;
                color: white;
            }
        
            form button:hover {
                background-color: whitesmoke;
                color: #14342b;
            }

            i {
                color: white;
            }

            i:hover {
                color: #14342b;
            }

    .logospace {

        display: flex;
        align-items: center;
        width: 20%;
        height: 100%;
        margin-left: 40px;

    }

    #logotipo {
        height: 100%;
        object-fit: cover;
    }

    .logospace h1 {
        color: white;
    }


.menu {
    display: flex;
    align-items: center;
    background-color: #fafaf7;
    height: 40%;
    justify-content: space-between;

}

    .nav-list {
        display: flex;
        margin-left: 40px;
        list-style: none;
        gap: 32px;
    }

    .right-nav {
        margin: 40px;

    }

    li a {
        color: #303030;
    }

    #button-login {
        font-weight: bold;
        padding: 12px 38px;
        border-radius: 3px;
        box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
        line-height: 1.25;
        background: #fde311;
        text-decoration: none;
        color: #303030;
        font-size: 14px;
        letter-spacing: .08em;
        text-transform: uppercase;
        position: relative;
        overflow: hidden;

      }

      #button-register {
        border-radius: 3px;
        margin-right: 10px;
        padding: 8px 20px;
        border: 1px solid #303030;
        color: #303030;
        text-decoration: none;
      }
      


/* */
.b_texto{
    background-color: yellow;
    border: 0px;
    padding: 2px;
}

.secao{
    background-color: blueviolet;
    height: 300px;
}

.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #303030;
    height: 70%;
    color: white;
}

.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    height: 30%;
}

.paineis{
    height: 1000px;
    background-color: whitesmoke;
    display: flex;
}

.painel_lateral_E{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 20%;
    background-color: whitesmoke;
    align-items: center;
}

.secoes{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 20%;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;

}

.secoes a {
    color: #303030;
}

.painel_lateral_D{
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    background-color: #14342b;
    border-radius: 20px;
}

.box1{
    display: flex;
    justify-content: space-evenly;
    height: 150px;
    background-color: white;
    margin: 20px;
    margin-top: 30px;
    width: 100%;
    border-radius: 20px;
}

.total{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    color: #303030;
    background-color: white;
    border-radius: 1px solid black;
    margin: 5px;
    width: 300px;
    height: 140px;
}

.box2{
    display: flex;
    justify-content: space-evenly;
    height: 300px;
    background-color: white;
    margin: 20px;
    margin-top: 30px;
    width: 100%;
    border-radius: 20px;
}

.grafico1{
    margin: 5px;
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
}
 
#area_grafico1 {

    display: flex;
    height: 100%;
    align-items: center;
    
}



#area_grafico2 {
    display: flex;
    width: 100%;

}

.grafico2 {
    margin: 5px;
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;

}

#area_grafico3 {
    display: flex;
    background-color: white;
    width: 60%;
}

.box3{
    display: flex;
    justify-content: center;
    height: 400px;
    background-color: white;
    margin: 20px;
    margin-top: 30px;
    width: 100%;
    border-radius: 20px;
}

.evolucao{
    margin: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 90%;
}

/* 
==============
RESPONSIVIDADE
==============
*/

.hamburger {
    display: none;
}

.margin-nav {
    display: none;
}

/* Cabeçalho */
@media (max-width: 790px) {

    .margin-nav {
        display: block;
    }

    .nav {
        display: flex;
        flex-direction: row;
    }
    
    .margin-nav {
        width: 50px;
    }

    .hamburger {
        display: block;
        z-index: 1;
        background: none;
        border: none;
        border-top: 3px solid #14342b;
        cursor: pointer;

        z-index: 2;

        

    }
    .hamburger::before,
    .hamburger::after {
        content: "   ";
        display: block;
        width: 30px;
        height: 3px;
        background: #14342b;
        margin-top: 5px;
        border-radius: 5px;
    }

    .nav-list {

        position: fixed;
        top: 0;
        left:0;
        width: 100vw;
        height: 100vh;

        background-color: #14342b;
        clip-path: circle(100px at 10% -100%);
        transition: 0.6s ease-out;
        transition: 0.6s ease-in;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        pointer-events: none;   

        z-index: 1;
    }

    .nav-list a {
        color: white;
        font-size: 24px;
        opacity: 0;
        
    }

    .nav-list li:nth-child(1) a {
        transition: 0.5s 0.2s;
    }

    .nav-list li:nth-child(2) a {
        transition: 0.5s 0.4s;
    }

    .nav-list li:nth-child(3) a {
        transition: 0.5s 0.6s;
    }

    .nav-list li:nth-child(4) a {
        transition: 0.5s 0.8s;
    }


    /* ESTILOS ACTIVES */

    .nav.active .nav-list {
        clip-path: circle(1500px at 10% 2%);
        pointer-events: all;

    }

    
    .nav.active a {
        opacity: 1;

    }
}

@media (max-width: 570px) {

    #ferramenta-busca {
        display: none;
    }
}

@media (max-width: 450px) {

    #button-login {
        display: none;
    }
}

/* Corpo da página */

@media (max-width: 750px) {
    .paineis {
        flex-direction: column;
    }

    .secoes {
        width: 100%;
        height: 50px;
        flex-direction: row;
    }

    .painel_lateral_E {
        width: 100%;
    }

    .box1 {
        align-items: center;
        justify-content: center;
        height: 500px;

        flex-direction: column;
    }   

    .box1 .total {
        margin: 25px;
    }

    .box2 {
        flex-direction: column;
        height: 600px;
        align-items: center;
        justify-content: center;
    }
}
