* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif

}


/* Container do cabeçalho*/

li a {
    text-decoration: none;
}

.header {

    background-color: #fafaf7;
    height: 120px;

}

    .busca {
        color: black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #14342b;
        height: 60%;

    }

        form {
            border: 1.5px solid white;
            border-radius: 5px;
            padding: 5px;
            margin-right: 40px;
        
        }
        
            form input, form button {
                font-size: 18px;
                border-radius: 4px;
                border: none;
                padding: 4px;
            }
        
            form button {
                cursor: pointer;
                background: none;
                color: white;
            }
        
            form button:hover {
                background-color: whitesmoke;
                color: #14342b;
            }

            i {
                color: white;
            }

            i:hover {
                color: #14342b;
            }

    .logospace {

        display: flex;
        align-items: center;
        width: 20%;
        height: 100%;
        margin-left: 40px;

    }

    #logotipo {
        height: 100%;
        object-fit: cover;
    }

    .logospace h1 {
        color: white;
    }


.menu {
    display: flex;
    align-items: center;
    background-color: #fafaf7;
    height: 40%;
    justify-content: space-between;

}

    .nav-list {
        display: flex;
        margin-left: 40px;
        list-style: none;
        gap: 32px;
    }

    .right-nav {
        margin: 40px;

    }

    li a {
        color: #303030;
    }

    #button-login {
        font-weight: bold;
        padding: 12px 38px;
        border-radius: 3px;
        box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
        line-height: 1.25;
        background: #fde311;
        text-decoration: none;
        color: #303030;
        font-size: 14px;
        letter-spacing: .08em;
        text-transform: uppercase;
        position: relative;
        overflow: hidden;

      }

      #button-register {
        border-radius: 3px;
        margin-right: 10px;
        padding: 8px 20px;
        border: 1px solid #303030;
        color: #303030;
        text-decoration: none;
      }
      


/* */

/*Tela principal e nome da loja*/


.banner-principal {
    color: white;
    height: 200px;
    width: 100%;
    margin: auto;
    position: relative;
    
    justify-content: center;
    align-items: center;
}

    .banner-principal img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

.titulo {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:#14342b;
        height: 100px;
    }

    #titulo_pag{
        color: white;
        font-size: 60px;
    }

    
/* */


#pegavalor{
    width: 100%;
}

#aplicar{
    width: 30%;
    overflow: hidden !important;
}


.b_texto{
    border: 0px;
    padding: 2px;
}

.secao{
    height: 300px;
}


.paineis{
    display: flex;
}

.painel_lateral_E{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    width: 20%;
    background-color: #009145;
}

.painel_lateral_E h2 {
    color: white;
}

/* Tem erro */
.filtros{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color:  #efeff0;
    border-radius: 20px;
    height: 30%;
    width: 90%;
    overflow: hidden !important;
}

.filtros h3 {
    margin-top: 15px;
}

/* Tem erro */
.tipos{
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    background-color: #efeff0;
    margin: 10px;
    height: 60%;
    width: 90%;
}

.tipos ul {
    margin: 10px;

}

.tipos ul li {
    padding: 5px;
}

/* Tem erro */
.valores{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 20px;
    background-color: #14342b;
    height: 18%;
    width: 90%;
    padding-bottom: 10px;
    align-items: center;
    overflow: hidden !important;
}

.valores h3 {
    margin-top: 20px;
    color: white;
}

/* Tem erro */
.aplicarvalores{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.painel_lateral_D{
    display: flex;
    width: 80%;
    justify-content: center;
}

.estufa {
    display: flex;
    width: 100%;
}

    .imagem{
        object-fit: cover;
        height: 80%;
        width: 100%;
    }

        .dados {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 20%;

        }

    .tipos ul li {
        list-style-type: none;
    }

/*Vitrine*/

.container_principal {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .vitrine {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .vitrine .estufa {
        background-color: #efeff0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 90%;
        
    }

        .produto_organico {
            color: white;
            margin: 10px;
            margin-top: 20px;
            margin-bottom: 20px;
            width: 250px;
            height: 400px;

        }

            .img_produto {
                width: 100%;
                height: 80%;
            }

            .imagee {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        .rotulo {
            background-color: #14342b;
            width: 100%;
            height: 20%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
            .tipo_prod {
                font-weight: bold;
                font-size: 16px;
                text-transform: uppercase;
                letter-spacing: .08em;
                
            }

            .rotulo p {
                font-size: 14px;
            }

        .botao_comprar {
            display: flex;
            align-items: center;
            justify-content: center;

            background-color: #009145;
            width: 150px;
            height: 30px;
            border-radius: 15px;
            margin-top: 5px;
        }

            .botao_comprar a {
                color: white;
                border-radius: 100%;
                padding: 10px 40px;
                text-decoration: none;
            }

            .botao_comprar a:hover {
                color: #fde311;
                border-radius: 100%;
                padding: 10px 40px;
                text-decoration: none;
            }
            .botao-amarelo {
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: bold;
                padding: 12px 62px;
                border-radius: 3px;
                box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
                line-height: 1.25;
                background: #fde311;
                text-decoration: none;
                color: #303030;
                font-size: 14px;
                letter-spacing: .08em;
                text-transform: uppercase;

            }
            
