* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #303030;
    
}

/* Container do cabeçalho*/

li a {
    text-decoration: none;
}

.header {

    background-color: #fafaf7;
    height: 120px;

}

    .busca {
        color: black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #14342b;
        height: 60%;

    }

        form {
            border: 1.5px solid white;
            border-radius: 5px;
            padding: 5px;
            margin-right: 40px;
        
        }
        
            form input, form button {
                font-size: 18px;
                border-radius: 4px;
                border: none;
                padding: 4px;
            }
        
            form button {
                cursor: pointer;
                background: none;
                color: white;
            }
        
            form button:hover {
                background-color: whitesmoke;
                color: #14342b;
            }

            i {
                color: white;
            }

            i:hover {
                color: #14342b;
            }

    .logospace {

        display: flex;
        align-items: center;
        width: 20%;
        height: 100%;
        margin-left: 40px;

    }

    #logotipo {
        height: 100%;
        object-fit: cover;
    }

    .logospace h1 {
        color: white;
    }


.menu {
    display: flex;
    align-items: center;
    background-color: #fafaf7;
    height: 40%;
    justify-content: space-between;

}

    .nav-list {
        display: flex;
        margin-left: 40px;
        list-style: none;
        gap: 32px;
    }

    .right-nav {
        margin: 40px;

    }

    li a {
        color: #303030;
    }

    #button-login {
        font-weight: bold;
        padding: 12px 38px;
        border-radius: 3px;
        box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
        line-height: 1.25;
        background: #fde311;
        text-decoration: none;
        color: #303030;
        font-size: 14px;
        letter-spacing: .08em;
        text-transform: uppercase;
        position: relative;
        overflow: hidden;

      }

      #button-register {
        border-radius: 3px;
        margin-right: 10px;
        padding: 8px 20px;
        border: 1px solid #303030;
        color: #303030;
        text-decoration: none;
      }
      


/* */

#sectionproduto { 
      padding-top: 3rem;
      padding-bottom: 3rem;
      display: flex;
      width:100%;
      align-content: space-around;
      justify-content: center;
      flex-direction: row;
      
}

#produtoimg {
    background-color: rgb(156, 156, 156);
    height: 400px;
    width: 400px;
    display: flex;
}
#produtoinfo {
    padding: 50px;
    bottom: 200px;
    height: 100%;

}

#produtoinfo p,h1 {
    margin-bottom: 20px;
}

#sectionrelacionados{
    flex-direction: column;
}
#divcards {
    display: flex;
    flex-direction: row;
}
.cards {
    border: 1px rgb(90, 90, 90) solid;
    border-radius: 10px;
    width: 30%;
    margin-left: 10%;
}
.imgrelacionado {
    border-radius: 10px;
    width: 100%;
}
.relacionadoinfo {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
}
h5 {
    margin-bottom: 10px;
}
.relacionadoinfo a {
    padding-top: 10px;
}
footer {
    margin-top: 100px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items:center;
    height: 100px;
    background-color: rgb(161, 161, 161);
}
footer p {
    position: relative;
    top: 30px;
}

/* Cabeçalho */
@media (max-width: 790px) {

    .margin-nav {
        display: block;
    }

    .nav {
        display: flex;
        flex-direction: row;
    }
    
    .margin-nav {
        width: 50px;
    }

    .hamburger {
        display: block;
        z-index: 2;
        background: none;
        border: none;
        border-top: 3px solid #14342b;
        cursor: pointer;


        

    }
    .hamburger::before,
    .hamburger::after {
        content: "   ";
        display: block;
        width: 30px;
        height: 3px;
        background: #14342b;
        margin-top: 5px;
        border-radius: 5px;
    }

    .nav-list {

        position: fixed;
        top: 0;
        left:0;
        width: 100vw;
        height: 100vh;

        background-color: #14342b;
        clip-path: circle(100px at 10% -100%);
        transition: 0.6s ease-out;
        transition: 0.6s ease-in;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        pointer-events: none;

        z-index: 1;
    }

    .nav-list a {
        color: white;
        font-size: 24px;
        opacity: 0;
        
    }

    .nav-list li:nth-child(1) a {
        transition: 0.5s 0.2s;
    }

    .nav-list li:nth-child(2) a {
        transition: 0.5s 0.4s;
    }

    .nav-list li:nth-child(3) a {
        transition: 0.5s 0.6s;
    }

    .nav-list li:nth-child(4) a {
        transition: 0.5s 0.8s;
    }


    /* ESTILOS ACTIVES */

    .nav.active .nav-list {
        clip-path: circle(1500px at 10% 2%);
        pointer-events: all;

    }

    
    .nav.active a {
        opacity: 1;

    }
}

@media (max-width: 570px) {

    #ferramenta-busca {
        display: none;
    }
}

@media (max-width: 450px) {

    #button-login {
        display: none;
    }
}


/* Corpo da página */

@media (max-width: 700px) {
    
    #sectionproduto { 
        flex-direction: column;
    }

    #divcards {
        flex-direction: column;
    }
    .cards {
        width: 70%;
    }
}
